<div class="d-flex">
    <div class="col-md-12">
        <div class="card bg-light mb-3 mt-1">
            <div class="card-heading bg-primary text-center text-white liens">fiche produit</div>
                <div class="card-body">
                    <table class="table table-bordered text-center sous-liens table-striped">
                        <thead style="background-color:#ebebeb;">
                            <tr class="header-footer-background-color text-white">
                               <th>Designation</th>
                               <th>Prix Achat</th>
                               <th>Prix De Vente</th>
                               <th>Benefice</th>
                               <th>Status</th>
                            </tr>
                         </thead>
                         <tbody>
                            <tr *ngIf="product$">
                                <td>{{product$.designation}}</td>
                                <td>{{product$.inStockPrice | number:'1.2-2'}}</td>
                                <td>{{product$.outStockPrice | number:'1.2-2'}}</td>
                                <td>{{product$.totalBenefit | number:'1.2-2'}}</td>
                                <td>{{product$.status}}</td>
                            </tr>
                         </tbody>
                    </table>
                </div>
        </div>
    </div>
</div>
<div class="d-flex mb-3">
    <div class="col-md-6">
        <div class="card bg-light mb-1 mt-3">
            <div class="card-heading bg-primary text-center text-white liens">historique des operations</div>
            <div class="card-body">
                <table class="table table-bordered text-center sous-liens table-striped">
                    <thead style="background-color:#ebebeb;">
                        <tr class="header-footer-background-color text-white">
                           <th>Type</th>
                           <th>Quantite</th>
                           <th>Montant</th>
                           <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let operation of product$?.stockOperationDtos">
                            <td>{{operation.type}}</td>
                            <td>{{operation.quantity}}</td>
                            <td>{{operation.amount | number:'1.2-2'}}</td>
                            <td>{{operation.dateOperation | date:"dd-MM-yyyy"}}</td>                        
                        </tr>
                    </tbody>
                </table>
                <ul class="nav nav-pills">
                    <li *ngFor="let item of [].constructor(product$?.totalPages); let page=index;">
                        <a  [ngClass]="page==currentPage?'btn btn-info':'btn btn-outline-info'" (click)="getPage(page)" class="ms-2 mt-1 mr-1">{{page}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card bg-light mb-1 mt-3">
            <div class="card-heading bg-primary text-center text-white liens">historique des marges</div>
            <div class="card-body">
                <table class="table table-bordered text-center sous-liens table-striped">
                    <thead style="background-color:#ebebeb;">
                        <tr class="header-footer-background-color text-white">
                           <th>Quantite</th>
                           <th>Montant</th>
                           <th>Date</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr *ngFor="let margin of product$?.marginsDto">
                            <td>{{margin.quantity}}</td>
                            <td>{{margin.amount | number:'1.2-2'}}</td>
                            <td>{{margin.saleDate| date:"dd-MM-yyyy"}}</td>                        
                        </tr>
                     </tbody>
                </table>
                <ul class="nav nav-pills">
                    <li *ngFor="let item of [].constructor(product$?.totalPages); let page=index;">
                        <a  [ngClass]="page==currentPage?'btn btn-info':'btn btn-outline-info'" (click)="getPage(page)" class="ms-2 mt-1 mr-1">{{page}}</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="mb-2">
            <a class="btn btn-outline-info" (click)="goBack()" >
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-return-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5"/>
                </svg>
            </a>
        </div>
    </div>
</div>


