<h4>{{title}}</h4>
<form (ngSubmit)="onSubmit()">
    <fieldset class="form-group customborder p-3 mt-3">
        <legend>modifier</legend>
           <div class="col-md-10 offset-1">
              <div class="d-flex flex-row justify-content-center mb-3">
                  <div class="form-input-margin-right mr-2">
                      <input type="text" class="form-control" id="designation" name="designation"   [(ngModel)]="product.designation"  required/>	 					                                        
                          <small id="designationHelp" class="form-text text-muted text-center">designation du produit</small>
                          <small><span class="text-danger"></span></small> 							                                                                                                          
                  </div>
                  <div class="form-input-margin-right mr-2">
                      <input type="number" class="form-control" id="inStockPrice" name="inStockPrice"   [(ngModel)]="product.inStockPrice"  required/>
                        <small id="amountHelp" class="form-text text-muted text-center">prix d'achat</small>
                        <small><span class="text-danger"></span></small>				                                                                                                    	                                                                     	                                                                
                  </div>
                  <div class="form-input-margin-right mr-3">
                      <input type="number" class="form-control" id="recordDate" name="outStockPrice"   [(ngModel)]="product.outStockPrice"   required/>							                                      
                          <small id="outStockPrice" class="form-text text-muted text-center">prix de vente</small>							                                          
                          <small><span class="text-danger" ></span></small>                                                                                                                                 
                  </div>
                  <button type="submit" class="btn btn-success rounded">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                    </svg>
                  </button>
                  <a class="btn btn-secondary ml-2" (click)="goBack()">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="20" fill="currentColor" class="bi bi-ban" viewBox="0 0 16 16">
                            <path d="M15 8a6.97 6.97 0 0 0-1.71-4.584l-9.874 9.875A7 7 0 0 0 15 8M2.71 12.584l9.874-9.875a7 7 0 0 0-9.874 9.874ZM16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0"/>
                        </svg>
                  </a>
            </div>
         </div>
    </fieldset>
</form>
