<div>
<header class="header-footer-background-color rounded">
    <nav class="navbar  navbar-expand-sm  bg-primary navbar-dark">
        <div class="container-fluid">
            <div style="width:36%;"> 
               <h2 class="liens text-center text-white">
                {{title}}
               </h2>
            </div>
            <div style="width:64%;"> 
                <ul class="navbar-nav liens" style="float:right">
                    <li class="nav-item">
                       <a routerLink="home" routerLinkActive="active" class="nav-link">accueil</a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="products" routerLinkActive="active" class="nav-link">produit</a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="stock" routerLinkActive="active" class="nav-link">stock</a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="invoice" routerLinkActive="active" class="nav-link">facture</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown"  role="button">
                            <span>me</span>         
                        </a>
                        <ul class="dropdown-menu sous-liens">
                            <li>
                                <a class="dropdown-item" routerLink="">profil</a>
                            </li>
                            <li>
                                <a class="dropdown-item" routerLink="">Logout</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="container rounded">
    <router-outlet></router-outlet> 
</div>
<footer class="header-footer-background-color">
    <div class="container-fluid navbar-fixed-bottom text-center">
         <small class="text-white liens">Copyright-2024</small>
    </div>
</footer>
</div>
