/* You can add global styles to this file, and also import other style files */

page{
	padding-top:10px;
	background-color:#01080f;
}

.liens{
	font-size:16px;
	font-family:Oswald;
	text-transform:uppercase;
  text-decoration: none;
}

.sous-liens{
	font-size:12px;
	font-family:Oswald;
	text-transform:uppercase;
}

.header-footer-background-color{
	background-color:#ffbd29;
}

.footer{
   position: absolute;
   bottom:0;
   width:100%;
   background-color: #ffbd29;
   text-align:center;
   color:white;
   border-radius:rounded;
}

body{
	bottom:10px;
	border-radius:rounded;
}

.container{
	margin-top:10px;
	background-color: #dcdfe2;
}	

.btn-primary{
	height:40px;
}

.border{
	border:5px solid #fff;
}

legend{
	width:0px;
}

.custom-cell1{
	display: inline-block;
    width: 50%;
    padding: 5px;
    box-sizing: border-box;
}

.special1{
	background-color:#dcdfe2;
}